.marginTop {
    margin-top: 2rem;
}

.mainContainer {
    margin-top: 2rem;
    margin-left: 2rem;
}

.fontSize20 {
    font-size: 20px;
}

.center {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.goBackButton {
    padding: 10px;
    background-color: rgb(62, 62, 62);
    font-size: 120%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.goBackButton:hover {
    background-color: rgb(45, 45, 45);
}

.countryName {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.smallerSize {
    max-width: 70%;
}